.inner-page-wrapper{
  padding-top:50px;
}
.title-holder{
  margin-top:50px;
}
.related-article{
  .mu-title{
    h2{
      //color:#fff;
    }
  }

  .slick-prev, .slick-next{
    width:40px;
    height: 40px;
    background-color: $theme-color;
  }

}

.job-circular-page{
  .mu-latest-course-single{
    margin-bottom:30px;
  }
}
